

@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Single+Day&display=swap');
.bg {
    background-image: url("C:\Users\Payal\Downloads\task_management\task_management\secondPageVideo.mp4");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    
}

body,
html {
    height: 50%;
}
.container{
    width:100%;
    height:50vh;
    position:relative;
}
 .container video {
     width:100%;
     height:90%;
}
